body {
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 100%;
}

.links {
  margin: 0 10px 0 10px;
}

.sub-heading {
  max-width: 300px;
  margin: auto;
}

.profile {
  border-radius: 5px;
  max-width: 300px;
  height: auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes stickynav {
  from {
    border-color: white;
  }

  to {
    border-color: black;
  }
}

@keyframes nonstickynav {
  from {
    border-color: black;
  }

  to {
    border-color: white;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  animation-name: stickynav;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}

.non-sticky {
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  animation-name: nonstickynav;
  animation-duration: 0.25s;
  animation-timing-function: ease;
}
