.logo {
  width: 20px;
  height: 20px;
}

.name {
  margin: 0 0 5px 0;
  font-variant: small-caps;
  text-transform: lowercase;
  padding-bottom: 6px;
}

.header {
  width: 100%;
  padding-bottom: 5px;

}
